<!DOCTYPE html>
<html>
<head>
	<title>nLit: Student Profile</title>
	<link rel="stylesheet" type="text/css" href="lib/css/studentProfile.css">
	<link rel="stylesheet" type="text/css" href="lib/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Spectral" rel="stylesheet">
</head>
<body>
	<div class="welcome">
			<% include partials/topBar %>
		<div class="studentProfileDiv">
			<div class="profilePic">
				<p>Profile Pic</p>
			</div>
			<div class="accountDetails">
			<p class="accountDetailText">Name:</p>
			<p class="accountDetailText"><br></p>
			<p class="accountDetailText">Location:</p>
				
			</div>
		</div>
	</div>

	<div class="lowerMenu">
		<button class="lowBut redirect">Teacher Catalogue</button>
		<button class="lowBut redirect">About us</button>
		<button class="lowBut redirect">Contact us</button>
	</div>


	<script type="text/javascript" src="lib/js/studentProfile.js"></script>
</body>
</html>