<!DOCTYPE html>
<html>
<head>
	<title>Teacher Profile</title>
		<% include partials/topBar %>

			<div class="profileDiv">
			<div class="tpTitle">Teacher's Profile</div>
			<div class="profilePic">
				<p>Profile Pic</p>
			</div>
			<div class="accountDetails">
				<p class="accountDetailText tpName">Name: </p> 
				<p class="accountDetailText tpEmail">Email: </p> 
				<p class="accountDetailText tpNumber">Contact Number: </p> 
				<p class="accountDetailText tpLocation">Location in Metro Manila: </p> 
				<p class="accountDetailText tpEducAttainment">Education Background/Attainment: </p> 
				<p class="accountDetailText tpDescription">Description: </p> 	
			</div>
			</div>
		</div>

		<div class="lowerMenu">
			<button class="lowBut redirect">Teacher Catalogue</button>
			<button class="lowBut redirect">About us</button>
			<button class="lowBut redirect">Contact us</button>
		</div>
	</div>
	<script type="text/javascript" src="lib/js/teacherProfile.js"></script>
</body>
</html>