  <link rel="stylesheet" type="text/css" href="/lib/css/homepage.css">
      <link rel="stylesheet" type="text/css" href="/lib/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Spectral" rel="stylesheet">
          </head>
          <body>
            <div class="welcome">
              <div class="upperShiz">
                <a href="/">
                  <div class="brand">nLit</div>
                </a>
                <div class="signupBar">
                  <button class="access redirect">Login</button>
                  <a href="/signup">
                    <button class="access redirect">Sign Up</button>
                  </a>
                </div>
                <hr class="break">
		</div>