<div class="upperShiz">
	<a href="/"><div class="brand">nLit</div><a/>
		<div class="signupBar">
			<button class="access redirect">Login</button>
			<a href="signup"><button class="access redirect">Sign Up</button></a>
		</div>
	<hr class="break">
</div>